@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.example {
  height: 80px;
  padding: 10px;
  width: fit-content;
  border: 1px solid hsla(160, 100%, 37%, 1);
  background-color: hsla(160, 100%, 98%, 1);
  display: flex;
  gap: 5px;
}

.example-group {
  padding: 10px 20px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 10px;
}

li.no-dot {
  list-style: none;
}

.nowrap {
  white-space: nowrap;
}
